name: Docusaurus on Windows

on:
  # Trigger the workflow on push or pull request,
  # but only for the master branch
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: windows-2019
    strategy:
      matrix:
        node-version: [10.x]
    steps:
    - uses: actions/checkout@v1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - name: Installation
      working-directory: website
      run: yarn
    - name: Docusaurus publish
      working-directory: website
      run: yarn run publish-gh-pages
      env:
        GIT_USER: bangbh81
        #USE_SSH: true
        #KEY: ${{ secrets.SSH_DEPLOYMENT_KEY }}
        CI: true
